.exercises {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.return {
  background-color: #ffeb3b;
  max-width: fit-content;
  padding: 5px 10px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.search {
  background-color: red;
  margin: 30px;
}